<div class="row">
    <div class="container-fluid col-6" id="mapp">
        <h2>Visitanos:</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.210053245579!2d-58.42231094987033!3d-34.59884956465026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca7cd54f107b%3A0x88bd8fe0e0b6e3a6!2sCentro%20de%20e-Learning%20UTN%20BA!5e0!3m2!1ses-419!2sar!4v1653764096135!5m2!1ses-419!2sar"
            class="embed-responsive" allowfullscreen>
        </iframe>
    </div>
    <div class="container-fluid col-6">
        <h2>Contacto:</h2>
        
    </div>

</div>