<a name="historia"></a>
        <div class="container-fluid row align-items-center" id="cont-hist">
            <div class="col-sm-2" id="icon">
                <img src="images/icon.webp" alt="..." class="img-fluid">
            </div>
            <div class="col-3 hist">
                <h2>
                    Nuestra historia:
                </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quisquam ex reprehenderit pariatur minus
                    rerum,
                    recusandae exercitationem blanditiis possimus ab ipsum aliquid .</p>
            </div>
        </div>
        <a name="nosotros"></a>
        <div class="container-fluid" id="nos">
            <h2>
                Nosotros:
            </h2>
            <div class="card-group">
                <div class="card">
                    <img src="images/persona1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Carlos Martinez</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae veniam iusto
                            dolorem
                            corporis dignissimos enim numquam nemo excepturi tempora, cupiditate neque asperiores iure
                            eum.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="images/persona2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Agustina Rodriguez</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae veniam iusto
                            dolorem
                            corporis dignissimos enim numquam nemo excepturi tempora, cupiditate neque asperiores iure
                            eum.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="images/persona3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Camila Torres</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae veniam iusto
                            dolorem
                            corporis dignissimos enim numquam nemo excepturi tempora, cupiditate neque asperiores iure
                            eum.</p>
                    </div>
                </div>
            </div>
        </div>